@use '../../Styles/abstracts/variables' as *;



.App {
  width: clamp(300px, 87.2vw, 400px);
  background-color: $clr-neutral-700;
  border-radius: 15px;

  @media(min-width: $min-width-desktop) {
    width: clamp(400px, 28.6111111vw, 600px);
  }
}